<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zteict.web.company.dao.CompanyDao">
	<resultMap id="CompanyMap" type="com.zteict.web.company.model.Company">
	
	</resultMap>
	
	
	<select id="getCompanyPageList" parameterType="com.zteict.web.company.model.Company" resultMap="CompanyMap">
		select a.*  from company_info a 
		where 1=1
		<if test='accountid != null and accountid != "" '>
			and a.accountid like CONCAT('%',#{accountid},'%')
		</if>
		<if test='company_name != null and company_name != "" '>
			and a.company_name like CONCAT('%',#{company_name},'%')
		</if>
		<!-- <if test='ip != null and ip != "" '>
			and a.ip like CONCAT('%',#{ip},'%')
		</if>
		<if test='company_name != null and company_name != "" '>
			and c.compy_name like CONCAT('%',#{company_name},'%')
		</if> -->

		limit #{start},#{pageCount}
	</select>
	
	<select id="getCompanyPageListCount" parameterType="com.zteict.web.company.model.Company" resultType="java.lang.Integer">
		select count(*) from company_info a 
		where 1=1
		<if test='accountid != null and accountid != "" '>
			and a.accountid like CONCAT('%',#{accountid},'%')
		</if>
		<if test='company_name != null and company_name != "" '>
			and a.company_name like CONCAT('%',#{company_name},'%')
		</if>
		
		
	</select>
	
<select id="getCompanyInfoById" parameterType="java.lang.Integer" resultType="com.zteict.web.company.model.Company">
		select * from company_info where recordid = #{id}
	</select>


<select id="getCompanyInfoByAccountAndPass" parameterType="java.util.Map" resultType="com.zteict.web.company.model.Company">
		select * from company_info where accountid = #{id} and pass=#{pass}
	</select>


	
<select id="getCompanyInfoByAccountId" parameterType="java.lang.String" resultType="com.zteict.web.company.model.Company">
		select * from company_info where accountid = #{id}
	</select>
	
	<insert id="addCompany" parameterType="com.zteict.web.company.model.Company">
	    

	    
		insert into company_info 
		(company_name,accountid,pass,ip_refresh_interval,desc_info,
		ip_desc,create_date )
		values(#{company_name},#{accountid},#{pass},#{ip_refresh_interval},#{desc_info},
		#{ip_desc},now())
	</insert>
	
	<update id="updateCompany" parameterType="com.zteict.web.company.model.Company">
		update company_info set
		update_date=now()
		<if test='pass != null'>
			,pass=#{pass}
		</if>
		<if test='ip_refresh_interval != null'>
			,ip_refresh_interval=#{ip_refresh_interval}
		</if>
		<if test='company_name != null'>
			,company_name=#{company_name}
		</if>
		<if test='desc_info != null'>
			,desc_info=#{desc_info}
		</if>
		<if test='ip_desc != null'>
			,ip_desc=#{ip_desc}
		</if>
		
		
		where recordid=#{recordid}
	</update>
	
	<delete id="deleteCompany"  parameterType="java.lang.Integer">
		delete from company_info where recordid = #{id}
	</delete>
	
	
</mapper>
  





