<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zteict.web.device.dao.DeviceDao">
	<resultMap id="DeviceMap" type="com.zteict.web.device.model.Device">
	
	</resultMap>
	
	
	<select id="getDevicePageList" parameterType="com.zteict.web.device.model.Device" resultMap="DeviceMap">
		select * from route_info 
		where 1=1
		<if test='routeid != null and routeid != "" '>
			and routeid like CONCAT('%',#{routeid},'%')
		</if>
		<if test='city != null and city != "" '>
			and city like CONCAT('%',#{city},'%')
		</if>
		<if test='ip != null and ip != "" '>
			and ip like CONCAT('%',#{ip},'%')
		</if>
		<if test='showall != null and showall == "false" '>
			and offlinetime is null
		</if>
		
		

		limit #{start},#{pageCount}
	</select>
	
	<select id="getDevicePageListCount" parameterType="com.zteict.web.device.model.Device" resultType="java.lang.Integer">
		select count(*) from route_info 
		where 1=1
		<if test='routeid != null and routeid != "" '>
			and routeid like CONCAT('%',#{routeid},'%')
		</if>
			<if test='city != null and city != "" '>
			and city like CONCAT('%',#{city},'%')
		</if>
		<if test='ip != null and ip != "" '>
			and ip like CONCAT('%',#{ip},'%')
		</if>
		<if test='showall != null and showall == "false" '>
			and offlinetime is null
		</if>
		
	</select>
	

	
	
</mapper>
  





